.advantages {
  background-color: $ghost-white;
  padding: 65px 0 90px 0;

  @media (max-width: ($vp-1200 - 1px)) {
    padding: 50px 0 90px 0;
  }
}


.advantages__wrapper {
  @include wrapper;
  padding: 0 65px;

  @media (max-width: ($vp-1200 - 1px)) {
    padding: 0;
  }

  @media (max-width: ($vp-768 - 1px)) {
    width: 100%;
  }
}


.advantages__title {
  color: $sapphire;
  font-size: 54px;
  font-family: $ff-alumni;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;

  text-align: center;

  margin-bottom: 28px;


  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    margin-top: 16px;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}


.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: min-content min-content;

  column-gap: 60px;


  @media (max-width: 999px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;

    column-gap: 35px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content  min-content;
  }
}

.advantages__item-big-number {
  font-size: 71px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  background: linear-gradient(127.61deg,#d10a42 0,#0041ca 87.33%);
  background-clip: text;
  color: transparent;

  display: flex;
  flex-direction: column;

  margin-right: 30px;

  text-align: center;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 58px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    margin-right: 0;
  }
}

.advantages__item-big-number-description {
  color: #2e35ac;
  font-size: 14px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  text-align: left;

  @media (max-width: ($vp-768 - 1px)) {
    text-align: center;
  }
}

.advantages__item-title {
  color: $sapphire;
  font-size: 22px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  text-align: left;
  margin-bottom: 5px;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 20px;
    text-align: left;
  }

  @media (max-width: ($vp-768 - 1px)) {
    text-align: center;
    margin: 0;
  }
}

.advantages__item-description {
  color: $sapphire;
  font-size: 16px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;

  margin: 0;

  text-align: left;

  @media (max-width: ($vp-768 - 1px)) {
    text-align: center;
  }
}

.advantages__item-special {
  margin: 30px 0;

  background-color: #1c3374;
  padding: 30px 34px 55px 34px;

  grid-column: 2/3;
  grid-row: 1/3;

  @media (max-width: 999px) {
    grid-column: 1/3;
    grid-row: 2/3;

    margin-top: 25px;
    margin-left: 17.5%;
    margin-right: 17.5%;

    padding: 15px 34px 40px 34px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    grid-column: 1/2;
    grid-row: 3/4;

    margin: 0;
  }
}


.advantages__item-title-special {
  text-align: center;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.advantages__item-title-special-number {
  color: $color-default-white;
  font-size: 74px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.advantages__item-title-special-text {
  color: $color-default-white;
  font-size: 26px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 22px;
  }
}

.advantages__item-description-special {
  color: $color-default-white;
  text-align: center;
  font-size: 16px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  margin: 20px 0 0 0;
}

.advantages__item {


  display: flex;
  text-align: center;


  @media (max-width: ($vp-768 - 1px)) {
    flex-direction: column;
    padding: 0 4.68%;
  }


  &:nth-child(1) {
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);
    padding-bottom: 52px;
    padding-left: 10px;

    @media (max-width: ($vp-1200 - 1px)) {
      border-bottom: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
  }

  &:nth-child(2) {
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);
    padding-bottom: 52px;

    @media (max-width: ($vp-1200 - 1px)) {
      border-bottom: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
  }

  &:nth-child(4) {
    padding-top: 55px;
    padding-left: 10px;

    @media (max-width: ($vp-1200 - 1px)) {
      padding-top: 0;
      padding-left: 0;
    }
  }

  &:nth-child(5) {
    padding-top: 55px;

    @media (max-width: ($vp-1200 - 1px)) {
      padding-top: 0;
    }
  }
}
