.appointment {
  background-color: $sapphire;
}

.appointment__wrapper {
  padding: 56px 25% 56px 103px;

  @media (max-width: ($vp-1200 - 1px)) {
    padding: 70px 21% 70px 130px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding: 70px 4.68%;
  }
}

.appointment__title {
  color: $color-default-white;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 800;
  line-height: 156%;
  letter-spacing: 1.62px;

  margin: 0 0 24px 0;

  @media (max-width: ($vp-1200 - 1px)) {
    margin: 0 0 50px 0;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.26px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.96px;
  }
}

.appointment__name-phone-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}

.appointment__input {
  width: 37.5%;
  background-color: inherit;
  color: $color-default-white;
  font-family: $ff-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0;

  padding: 10px 0;
  border-bottom: 1px solid #74819c;

  @media (max-width: ($vp-1200 - 1px)) {
    width: 43%;
  }

  &::placeholder {
    color: $color-default-white;
    font-family: $ff-roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.appointment__submite {
  color: $color-default-white;
  font-family: $ff-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;


  background-color: inherit;
  border: 3px solid $color-default-white;

  display: block;
  width: 100%;

  padding: 21px 0;
  text-align: center;
}
