.header {
  display: flex;
  justify-content: space-between;
}

.header__tel {
  color: $color-default-white;
  font-size: 26px;
  font-family: $ff-alumni;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.78px;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 24px;
    letter-spacing: 0.48px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 20px;
    letter-spacing: 0.4px;

    margin-right: 20px;
  }
}

.header__img {
  @media (max-width: ($vp-1200 - 1px)) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    width: 69px;
    height: 24px;
  }
}
