.membership {

  position: relative;

  background-color: $ghost-white;
  padding: 120px 0 80px;
  border-bottom: 120px solid $color-default-white;

  @media (max-width: ($vp-1200 - 1px)) {
    padding: 100px 0 100px 0;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding: 70px 0;
  }

  &::after {
    content: "";
    background-image: url("../img/png/plate.png");
    width: 289px;
    height: 420px;

    position: absolute;

    right: 0;
    bottom: -75px;

    @media (max-width: ($vp-768 - 1px)) {
      display: none;
    }
  }
}

.membership__wrapper {
  @include wrapper;

  text-align: center;
}

.membership__title {
  color: $sapphire;
  font-size: 54px;
  font-family: $ff-alumni;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;

  margin: 0 0 15px 0;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 32px;
    letter-spacing: 0.96px;

    margin: 0 0 20px 0;
  }
}

.membership__card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4%;

  @media (max-width: ($vp-1200 - 1px)) {
    grid-template-columns: 65.2%;
    justify-content: center;
    row-gap: 1%;
  }

  @media (max-width: ($vp-768 - 1px)) {
    grid-template-columns: 100%;
  }
}

.membership__card-item {
  background-color: $color-default-white;
  padding: 30px 65px 60px;

  display: flex;
  flex-direction: column;

  border: 7px solid $color-default-white;

  &:hover {

    border-image: linear-gradient(129deg, #d10a42 0%, #0041ca 100%) 30;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding: 25px 35px;
  }
}

.membership__card-title {
  color: $sapphire;
  text-align: center;
  font-size: 26px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 110.16%;
  margin-bottom: 10px;

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 22px;
  }
}

.membership__card-offer {
  color: $chambray;
  font-size: 16px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  margin: 0 0 65px 0;

  @media (max-width: ($vp-768 - 1px)) {
    margin: 0 0 50px 0;
  }
}

.membership__card-price {
  color: $egyptian-blue;
  font-size: 60px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  position: relative;
  z-index: 2;

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 48px;
  }

  &::after {
    content: attr(data-price);
    color: $whisper;
    font-size: 100px;
    font-family: $ff-roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    opacity: 0.48;

    position: absolute;
    bottom: 0;
    left: -10px;
    z-index: -1;

    @media (max-width: ($vp-1200 - 1px)) {
      left: 30px;
    }

    @media (max-width: ($vp-768 - 1px)) {
      left: 10px;
    }
  }

  margin-bottom: 35px;
}

.membership__card-price-rub {
  font-family: $ff-rouble;
  color: $sapphire;
}

.membership__buy-button {
  color: $sapphire;
  font-size: 12px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 0;

  outline: 2px solid $sapphire;

  background-color: inherit;

  padding: 25px 44px;

  &:hover {
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    outline: 0;
    color: $color-default-white;
  }
}
