
.video__play-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  background-color: transparent;
}

.video__play-button:hover .video__play-button-svg-circle-first {
  stroke: $sapphire;
}

.video__play-button:hover .video__play-button-svg-circle-second {
  fill: $color-default-white;
}

.video__play-button:hover .video__play-button-svg-triangle {
  fill: $sapphire;
}

.video__play-button:active .video__play-button-svg-circle-first {
  stroke: $sapphire;
}

.video__play-button:active .video__play-button-svg-circle-second {
  fill: $color-default-white;
}

.video__play-button:active .video__play-button-svg-triangle {
  fill: $sapphire;
}

.video__play-button:focus .video__play-button-svg-circle-first {
  stroke: $sapphire;
}

.video__play-button:focus .video__play-button-svg-circle-second {
  fill: $color-default-white;
}

.video__play-button:focus .video__play-button-svg-triangle {
  fill: $sapphire;
}

.video__play-button:disabled {
  opacity: 0.4;
}

.video__play-button:disabled .video__play-button-svg-circle-first {
  stroke: $sapphire;
}

.video__play-button:disabled .video__play-button-svg-circle-second {
  fill: $color-default-white;
}

.video__play-button:disabled .video__play-button-svg-triangle {
  fill: $sapphire;
}


.video__play-button-svg {
  @media (max-width: ($vp-1200 - 1px)) {
    width: 73px;
    height: 73px;
  }
}

.video__screen {
  width: 100%;
  height: 100%;
}
