@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Alumni Sans";

  font-display: swap;
  src: url("../fonts/alumni-sans/alumnisans-semibold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Alumni Sans";

  font-display: swap;
  src: url("../fonts/alumni-sans/alumnisans-extrabold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto Condensed";

  font-display: swap;
  src: url("../fonts/roboto-condensed/robotocondensed-light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";

  font-display: swap;
  src: url("../fonts/roboto-condensed/robotocondensed-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed";

  font-display: swap;
  src: url("../fonts/roboto-condensed/robotocondensed-bold.woff2") format("woff2");
}
